{% extends 'registration/base.html' %} {% block title %}
<title>パスワード再設定</title>
{% endblock %} {% block body %}
<main>
  <div class="passwordlost-header">
    <h1>ぐーたらちゃっと</h1>
  </div>
  <div class="passwordlost-container">
    <div class="passwordlost">
      <h2>ぱすわーどさいせってい</h2>
      <form action="" method="POST">
        <div class="passwordlost-mailaddres-Box">
          <h3>とうろくしためーるあどれす</h3>
          <div>
            <span class="material-symbols-outlined mail"> mail </span>
            <input type="mail" placeholder="めーるあどれすを入力してね"  required/>
          </div>
        </div>
        <div class="passwordlost-password-Box">
          <h3>ぱすわーど</h3>
          <div>
            <span class="material-symbols-outlined key"> key </span>
            <input type="password" placeholder="あたらしいぱすわーどを入力してね" required />
          </div>
        </div>
        <button class="material-symbols-outlined badge">badge</button>
      </form>
    </div>
  </div> 
</main>

{% endblock %}
