.passwordlost-header {
  width: auto;
  height: 15vh;
  display: flex;
  justify-content: start;
  align-items: center;

  & h1 {
    font-size: 50px;
    // margin-top: 25px;
    margin-left: 70px;
    font-family: hachi maru pop;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
    animation-name: apploaded;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1, 1.67, 0.58, 1);
  }
}

.passwordlost-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordlost {
  border: 1px solid black;
  width: 663px;
  height: 450px;
  font-family: kiwi maru;
  background-color: rgb(0, 0, 0, 40%);
  color: rgb(255, 212, 98);
  box-shadow: 0 4px 7px gray;
  animation-name: loginboxanime;
  animation-duration: 2s;

  & h2 {
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px black;
    // text-stroke: 1px black;
    font-size: 40px;
  }


  & .passwordlost-mailaddres-Box{
    margin-top: 17px;

    & h3 {
        margin-left: 85px;
        font-size: 30px;
    }

    & div {
      margin-left: 25px;
      display: flex;
      align-items: center;

      .material-symbols-outlined {
        font-weight: light;
        font-size: 50px;
        margin-right: 12px;
      }

      & input {
        font-size: 30px;
        width: 100%;
        margin-right: 25px;

        &::placeholder{
          font-size: 20px;
        }
      }

    }

    
  }

  & .passwordlost-password-Box{
    margin-top: 17px;

    & h3 {
      margin-left: 85px;
        font-size: 30px;
    }

    & div {
      margin-left: 25px;
      display: flex;
      align-items: center;

      .material-symbols-outlined {
        font-size: 50px;
        margin-right: 12px;
      }

      & input {
        font-size: 30px;
        width: 100%;
        margin-right: 25px;
        

        &::placeholder {
          font-size: 20px;
        }

      }
    }


  }

  & .material-symbols-outlined {
    &.badge {
      margin-top: 20px;
      margin-left: 280px;
      background-color: transparent;
      color:rgb(255, 212, 98);
      font-size: 4.8rem;
      cursor: pointer;
      border: none;
      transition: all 0.2s;

      &:hover{
        transform: translateY(1.5px);
      }

      &:active {
        transform: translateY(3px);
        // box-shadow: 0 1px 3px black;
      }


    }
  }
}
