<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+Opti&family=Kiwi+Maru&family=Klee+One&family=Kosugi+Maru&family=M+PLUS+1:wght@100..900&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@100..900&family=Sawarabi+Gothic&family=Shippori+Antique&family=Shippori+Antique+B1&family=Yomogi&family=Yuji+Syuku&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New&family=Zen+Kurenaido&family=Zen+Maru+Gothic&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=Hachi+Maru+Pop&family=Kaisei+Tokumin&family=Potta+One&family=Rampart+One&family=Reggae+One&family=RocknRoll+One&family=Stick&family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
    {% block title %}
    {% endblock %}
    
  </head>
  <body>
   {% block body %}
   {% endblock %}
   <script src="/static/js/main.js"></script>
  </body>
</html>
