{% extends 'base.html' %} {% block title %}
<title>チャット画面</title>
{% endblock %} {% block body %}
<header>
  <div class="home-header">
    <h1>ぐーたらちゃっと</h1>
    <div class="header-nav-box">
      <!-- <div class="header-nav-icons">
        <span class="material-symbols-outlined"> looks_two </span>
        <a href="">りくえすと</a> -->
      <!-- </div> -->
      <div class="header-nav-icons">
        <span class="material-symbols-outlined"> cottage</span>
        <a href="/home">ほーむ</a>
      </div>
      <div class="header-nav-icons">
        <span class="material-symbols-outlined"> settings</span>
        <a href="/setting">せってぃんぐ</a>
      </div>
      <div class="header-nav-icons">
        <span class="material-symbols-outlined"> logout</span>
        <a href="/login">さいんあうと</a>
      </div>
      <!-- <ul>
        <li class="header-nav-icon"><span class="material-symbols-outlined">looks_one</span><a href="">りくえすと</a></li>
        <li class="header-nav-icon"><a href="">ほーむ</a></li>
        <li class="header-nav-icon"><a href="">せってい</a></li>
      </ul> -->
    </div>
  </div>
</header>
<main class="main">
  <div class="_leftside">
    <h2>ともだち</h2>
    <span id="scrollbutton" class="material-symbols-outlined">
      add_circle
    </span>
    <div class="friends-container">
      <div id="friends-scrollcontainer">
        <ul>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
        </ul>
      </div>
      <div class="scroll-icon">
        <span id="upicon">↑</span>
        <span id="downicon">↓</span>
      </div>
    </div>
  </div>
  <div class="chat_rightside">
    <div class="chat_name">
      <span>ゆうと</span>
    </div>
    <div class="chat_container">
      <!-- <div class="chat_container_friends_username">
        <span>ゆうと</span>
      </div> -->
      <div class="chat_container_scroll">
        <div class="chat_container_friends_text">
          <span>明日は、とても忙しいから覚悟しておいてね！</span>
        </div>
        <div class="chat_container_my_text">
          <span>そんなばかな</span>
        </div>
        <div class="chat_container_friends_text">
          <span>そんなことがあり得るんですよ</span>
        </div>
        <div class="chat_container_my_text">
          <span>仕方ないな</span>
        </div>
        <div class="chat_container_friends_text">
          <span>明日は、とても忙しいから覚悟しておいてね！</span>
        </div>
        <div class="chat_container_my_text">
          <span>そんなばかな</span>
        </div>
        <div class="chat_container_friends_text">
          <span>そんなことがあり得るんですよ</span>
        </div>
        <div class="chat_container_my_text">
          <span>仕方ないな</span>
        </div>
      </div>
      
      <div class="chat_container_textform">
        <input type=" text" >
        <button class="material-symbols-outlined">send</button>
       </div>
    </div>
  </div>
</main>
{% endblock %}
