.setting_main {
  width: 100%;
  height: 85vh;
//   background-color: lightcoral;
  display: flex;
  flex-direction: row;

  & > * {
    // color:black;
    font-family: kiwi maru;
}

  &_leftside {
    width: 50%;
    height: 100%;
    background-color:  rgba(128, 128, 128, 0.21);
    border: 1px solid black;

    & > * {
        animation-name: fuwatto;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
    }

    

    &_name {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 80px;
      margin-top: 40px;
    //   border: 1px solid black;

      &_myphoto {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: lightgray;
        margin-left: 100px;
        margin-right: 50px;
      }

      &_myname {
        font-size: 40px;
        align-self: flex-end;
      }

      & .material-symbols-outlined{
        align-self: flex-end;
        margin-bottom: 10px;
        margin-left: 10px;
      }
    }

    


    &_profile{
        display: flex;
        flex-direction: column;
        margin:30px 70px 0 70px;

        & > * {
            margin-bottom: 30px;
        }

        &_onephrase{
            & > * {
                display: block;
            }
            & span {
                &:nth-child(1){
                    font-size: 25px;
                }

                &:nth-child(2){
                    // padding-top: auto;
                    // padding-bottom: auto;
                    text-align: center;
                    font-size: 20px;
                    height: 60px;
                    line-height: 60px;
                    padding-left: 10px;
                    background-color: lightgray;
                }
            }
        }

        &_mailaddress{
            & > * {
                display: block;
            }
            & span {
                &:nth-child(1){
                    font-size: 25px;
                }

                &:nth-child(2){
                    text-align: center;
                    font-size: 20px;
                    background-color: lightgray;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 10px;

                }
            }
        }


        &_password{
            & > * {
                display: block;
            }
            & span {
                &:nth-child(1){
                    font-size: 25px;
                }

                &:nth-child(2){
                    text-align: center;
                    font-size: 20px;
                    background-color: lightgray;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 10px;
                }
            }
        }
    }


    &_change {
        display: block;
        margin-left: 38%;
        // transform: translateX(-60px);
        font-size: 25px;
        width: 150px;
        height: 50px;
        text-decoration: none;
        background-color: gray;
        border-radius: 20px;
        text-align: center;
        line-height: 50px;

        
    }


    &_accountdelete{
        display: block;
        text-align: right;
        margin-top: 30px;
        margin-right: 20px;
        text-decoration: none;
    }
  }

  &_rightside {
    width: 50%;
    height: 100%;
    background-color:  rgba(128, 128, 128, 0.21);
    border: 1px solid black;
    border-left: none;

    &_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin-top: 25px;

        & > * {
            animation-name: fuwatto;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
        }

        & h2 {
            font-size: 30px;
            margin-top: 15px;
            margin-right: 10px;
        }

        & .material-symbols-outlined {
            font-size: 2rem;
            margin-top: 20px;
        }
    }


    &_fixedphrases{
        margin-top: 40px;
        margin-left: 15%;
        height: 350px;
        width: 500px;
        border: 1px solid black;
        overflow-y: scroll;
        background-color: lightgray;

        & > * {
            animation-name: fuwatto;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
        }



        &_phrase {
            margin: 20px;
            // background-color: red;
            font-size: 25px;

            & .material-symbols-outlined {
                font-size: 1rem;
                text-decoration: none;
            }
        }
    }


    &_addphrase{
        width: 500px;
        height: 110px;
        border: 1px solid black;
        background-color: lightgray;
        border-top: none;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        font-size: 25px;

        & > * {
            animation-name: fuwatto;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
        }


        & input {
            flex: none;
            width: auto;
            height: 50px;
            margin: 10px 10px 5px 10px;
            text-align: center;
        }

        & a {
            flex: none;
            text-align: center;
            width: 100px;
            align-self: center;
            margin-right: 10px;
            background-color: rgb(250, 203, 73);
            border-radius: 10px;
            text-decoration: none;
            margin-bottom: 20px;


        }
    }
  }
}


